<h1>ELEN7046</h1>
<p>CENSUS DATA EXPOSR</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='https://azure.microsoft.com/'>Azure</a> for application hosting</li>
    <li><a href='https://mweb.co.za/'>MWEB</a> for SQL DB hosting</li>
    <li><a href='https://github.io/'>GitHub</a> for source code version control</li>
</ul>
<p>Contributors:</p>
<ul>
    <li><strong>Leonie</strong></li>
    <li><strong>Yusuf</strong></li>
    <li><strong>Thinus</strong></li>
    <li><strong>Percy</strong></li>
    <li><strong>Malcolm</strong></li>
</ul>
